header {
	@include grid-container;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-color: $c-white;
	/* external css: flickity.css */

	.carousel {
		height: 65.5rem;

		@media (min-width: $m-tablet) and (max-width: $m-big-tablet) {
			height: 45vh;
		}

		@media (max-width: $m-big-phone) {
			height: 38vh;
		}

		.carousel-cell {
		  height: 100%;

			img {
				height: 100%;
			}
		}

		.flickity-page-dots {
		  bottom: 3rem;

		 	@media (max-width: $m-big-phone) {
				bottom: 2rem;
			}
		}

		.flickity-page-dots .dot {
		  width: 12px;
		  height: 12px;
		  opacity: 1;
		  background: transparent;
		  border: 2px solid white;
		}

		.flickity-page-dots .dot {
		  background: white;
		  border-color: rgba(0,0,0,.2);

		  &.is-selected {
		  	background: $c-red;
		  }
		}

		.flickity-prev-next-button {
			background: none;
			top: auto;
			-webkit-transform: auto;
			transform: none;
			bottom: 2rem;
			z-index: 2;

			@media (max-width: $m-big-phone) {
				display: none;
			}

			&.previous {
				left: auto;
				right: 4rem;
			}

			.arrow {
				fill: $c-red;
			}
		}

	}

	
}