@font-face {
	font-family: 'Trade Gothic';
	src: url('fonts/TradeGothic-Bold.eot');
	src: local('☺'), url('fonts/TradeGothic-Bold.woff') format('woff'), url('fonts/TradeGothic-Bold.ttf') format('truetype'), url('fonts/TradeGothic-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

$c-black: #1d1d1d;
$c-dark: #282828;
$c-white: #fff;
$c-grey: #9f9f9f;
$c-red: #e34e33;
$c-django-red: #d90e0a;
$c-blue: #67d9da;

$f-body: Arial;
$f-hero: 'Trade Gothic';
$f-body-size: 10px;

$w-container: 96rem;

$m-big-phone: 680px;
$m-tablet: 980px;
$m-small-phone: 320px;